/* COLOURS */
:root {
  --primary: #32345C;
  --primary-light: #4A4FA8;
  --secondary: #385C28;
  --secondary-light: #6CA852;
  --third: #5C453B;
  --black: #080808;
  --gray-dark: #222;
  --gray: #7F7F7F;
  --gray-light: #DDD;
  --white: #F6F6F6;
}

/* FONTS */
/* Primary */
body {
  font-family: 'Roboto Flex', Arial, Helvetica, sans-serif;
  color: var(--gray-dark);
}

/* Highlights */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Amatic SC', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary);
}



/* INDEX PAGE*/
/* Navigation Bar */
.navigation-bar-wrapper {
  background-color: var(--primary);
}

.nav-item {
  background-color: var(--white);
  border-radius: 4px;
  border: 0;
}

.nav-item a {
  color: var(--primary-light);
}

.nav-item a:hover {
  color: var(--white);
}

.nav-item:hover {
  background-color: var(--primary-light);
}

.nav-item.active {
  background-color: var(--primary-light);
}

.nav-item.active a {
  color: var(--white);
}

.nav-link {
  padding: 0.5rem !important;
}

@media only screen and (min-width: 768px) {
  .nav-link {
    padding: 0.5rem 1rem !important;
  }
}

/* Hero section */
.hero-wrapper {
  background-color: var(--primary);
}

.hero {
  background-color: var(--white);
}

.page-title {
  font-size: 3rem;
}

.page-subtitle {
  font-size: 0.8rem;
}


@media only screen and (min-width: 768px) {
  .page-title {
    font-size: 4.5rem;
  }

  .page-subtitle {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 992px) {
  .page-title {
    font-size: 6rem;
  }

  .page-subtitle {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .page-title {
    font-size: 7rem;
  }

  .page-subtitle {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 1400px) {
  .page-title {
    font-size: 8rem;
  }

  .page-subtitle {
    font-size: 2rem;
  }
}